@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  25% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.gradientBackground {
  background: linear-gradient(to left top, #1f011c, #000000, #1f011c);
  background-size: 200% 200%;
  animation: gradientAnimation 10s linear infinite;
  height: 100vh; 
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    /* background: 'linear-gradient(to right, black, blue, pink)', */
}

.header {
    flex: 0 0 auto;
  }

.main {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    flex: 0 0 15%;
  }
  
  .content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    border: '1px solid rgb(217, 108, 126)',
  }
  

  @media (max-width: 768px) {
    .main {
      flex-direction: column;
    }
  
    .sidebar {
      flex: 1; 
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    .content {
      flex: 1; 
      padding: 16px; 
    }
  }


  .white-text {
    color: white;
  }

  .startEndDate{
    font-size: x-small;
    color: white;
  }

  .room{
    font-size: medium;
    color: white;
  }
  
  .position{
    font-size: small;
    color: pink;
  }
  